*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #FFFAFA;
  min-height: 100px;
  font-size: 75%;
  font-weight: 500;
  padding: 1em;
}

.preview {
  height: 200px;
  width: 100%;
  float: left;
}

/* code added to create two-column design for tablets */
@media screen and (min-width: 575px) {
 .preview {
   width: 48%;
   margin: 1%;
 }
}

/* code added to create two-column design for tablets */
@media screen and (min-width: 991px) {
 .preview {
   width: 23%;
   margin: 1%;
 }
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 5%;
 }

 .preview h1 {
   text-transform: capitalize;
   text-align: left;
   padding: 5%;
 }

.baku {
     background-image: url('../images/baku.jpg');
     background-size: cover;
}

.london {
     background: url('../images/london.png');
     background-size: cover;
}

.madrid {
   background: url('../images/madrid.jpg');
   background-size: cover;
}

.rome {
    background: url('../images/rome.jpg');
    background-size: cover;
}
